{% extends "base.html" %}
{% block title %} Cadastro de Fornecedores {% endblock %}
{% block content %}

<form method="POST" class="form-floating">
    <h3 align="center">Cadastro de clientes</h3>

    <table>
        <tr>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Tratamento
                    </label>
                </div>
            </td>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Primeiro Nome
                    </label>
                </div>
            </td>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Sobrenome
                    </label>
                </div>
            </td>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="date"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Nascimento
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Empresa
                    </label>
                </div>
            </td>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Cargo
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Telefone Comercial
                    </label>
                </div>
            </td>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Celular
                    </label>
                </div>
            </td>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Telefone Residencial
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="email"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        eMail
                    </label>
                </div>
            </td>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Site
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Rua
                    </label>
                </div>
            </td>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Número
                    </label>
                </div>
            </td>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        CEP
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        UR
                    </label>
                </div>
            </td>
        <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Cidade
                    </label>
                </div>
            </td>
        <td>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="razaosocial"
                        name="razaosocial"
                        placeholder=""
                    >
                    <label for="razaosocial">
                        Complemento
                    </label>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Cadastrar Cliente</button>
    </div>
</form>
{% endblock %}